@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Petrovic Milos<br />
    Sentandrejski put XX<br />
    <abbr title="Telefon">T:</abbr>
    063-XXX-XXXX
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:milospetrovic008@gmail.com">milospetrovic008@gmail.com</a>
</address>