@{
    ViewBag.Title = "Pocetna";
}

<div class="jumbotron">
    <h1 class="text-center">Fakultet</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Studenti</h2>
        <p>
            Studenti stranica izlistava sve studente i njihove osobine kao sto su: JMBG, ime, prezime i godine.
        </p>
        <p><a class="btn btn-default" href="Student/Index">Studenti &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Predmeti</h2>
        <p>Predmeti stranica izlistava sve predmete i njihove osobine kao sto su: naziv, cena i nastavnici koji predaju odredjeni predmet.</p>
        <p><a class="btn btn-default" href="Predmet/Index">Predmeti &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Nastavnici</h2>
        <p>Nastavnici stranica izlistava sve nastavnike i njihove osobine kao sto su: JMBG, ime, prezime i datum zaposljavanja.</p>
        <p><a class="btn btn-default" href="Nastavnik/Index">Nastavnici &raquo;</a></p>
    </div>
</div>